.jumbotron
  %h1 Привет чувак!
  %p Это прототипчик игры. См. ниже как попасть в админку.
  %p
    = link_to 'Войти', '#', class: 'btn btn-default btn-lg'
    = link_to 'Регистрация', '#', class: 'btn btn-primary btn-lg'
